<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SQLCopilot - AI Assistant</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
  <div class="chat-container">
    <header>SQLBot</header>

    <div id="chat-box" class="chat-box">
      <!-- Messages will be added here dynamically -->
    </div>

    <div class="input-area">
            <input type="text" id="text-input" placeholder="Ask me anything about your sql database..." />
            <button id="send-btn">➤</button>
            <button id="mic-btn">🎙</button>
    </div>
  </div>

  <script src="{{ url_for('static',filename='script.js') }}"></script>
</body>
</html>
